<!--<favorite [is-favorite]="post.isFavorite" (change)="onFavoriteChange($event)"></favorite>-->
<!--<bootstrap-panel>
  <ng-container class="heading">
    Heading
  </ng-container>
  <div class="body">
    <h2>Body</h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur, quidem.</p>
  </div>
</bootstrap-panel>-->

<!--<app-like [likesCount]="tweet.likesCount" [isActive]="tweet.isLike">
</app-like>-->

<!-- ngIf -->
<!--<div *ngIf="doWeHaveCourses(); 
      then coursesList 
      else noCourses"></div>

<ng-template #coursesList>
  <ul>
    <li *ngFor="let course of courses">
      {{course}}
    </li>
  </ul>
</ng-template>

<ng-template #noCourses>
  There is no Courses available.
</ng-template>-->

<!-- Hidden Property -->
<!--<div [hidden]="!doWeHaveCourses()">
  <ul>
    <li *ngFor="let course of courses">
      {{course}}
    </li>
  </ul>
</div>

<div [hidden]="doWeHaveCourses()">
  There is no Courses avaliable.
</div>

<ul class="nav nav-pills">
  <li [class.active]="viewMode == 'map'" ><a (click)="viewMode = 'map'" (dblclick)="viewMode=''">Map</a></li>
  <li [class.active]="viewMode == 'list'" ><a (click)="viewMode = 'list'" (dblclick)="viewMode=''">List</a></li>
</ul>

<div [ngSwitch]="viewMode">
  <div *ngSwitchCase="'map'">Map View Content</div>
  <div *ngSwitchCase="'list'">List View Content</div>
  <div *ngSwitchDefault>OtherWise</div>
</div>

<button class="btn btn-primary" (click)="onAdd()">Add</button>
<button class="btn btn-primary" (click)="loadCourses()">Load Courses</button>
<ul>
  <li *ngFor="let course of secondCourses; index as i ; even as e ; trackBy: trackCourse">
    {{ i }} - {{ course.name }} <span *ngIf="e">Even</span>

    <button class="btn btn-secondary" (click)="onRemove(course)">Remove</button>
  </li>
</ul>

<button
  [ngStyle]="{
    'backgroundColor' : canSave ? 'blue' : 'gray',
    'color' : canSave ? 'white' : 'black',
    'border' : 0
  }"
  (click)="canSave = !canSave"
  >
Save
</button>
<br>

<span> {{task.assignee.name}}</span>
<br>

<input type="text" appInputFormat [format]="'lowercase'">
<input type="text" [appInputFormat]="'lowercase'">
<br>
<br>

<contact-form></contact-form>
<app-form-exercise></app-form-exercise>-->
<app-signup-form></app-signup-form>