<!--<favorite [is-favorite]="post.isFavorite" (change)="onFavoriteChange($event)"></favorite>-->
<!--<bootstrap-panel>
  <ng-container class="heading">
    Heading
  </ng-container>
  <div class="body">
    <h2>Body</h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur, quidem.</p>
  </div>
</bootstrap-panel>-->

<!--<app-like [likesCount]="tweet.likesCount" [isActive]="tweet.isLike">
</app-like>-->

<div *ngIf="doWeHaveCourses(); 
      then coursesList 
      else noCourses"></div>

<ng-template #coursesList>
  <ul>
    <li *ngFor="let course of courses">
      {{course}}
    </li>
  </ul>
</ng-template>

<ng-template #noCourses>
  There is no Courses available.
</ng-template>